.DS_Store
__pycache__
.ipynb_checkpoints
.virtual_documents
.idea
examples/example_sync_folder/anonymous
examples/example_sync_folder/runs
examples/example_sync_folder/sprint25
site/sitemap.xml
site/sitemap.xml.gz
/tests/test_sync_folder/test_dats
